In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [82]:
final= pd.DataFrame()

for j in range(1,21):
    url= 'https://internshala.com/internships/page-{}/'.format(j)
    webpage=requests.get(url).text
    soup=BeautifulSoup(webpage,'lxml')
    internships=soup.find_all('div',class_='internship_meta')
    
    opportunity_name=[]
    company_name=[]
    location=[]
    duration=[]
    stipend=[]

    for i in range(2,len(internships)):
        opportunity_name.append((internships[i].find('a',class_='view_detail_button').text.strip()))
        company_name.append(internships[i].find('a', class_='link_display_like_text view_detail_button').text.strip())
        location.append(internships[i].find('a',class_='location_link view_detail_button').text.strip())
        duration.append(internships[i].find_all('div', class_='item_body')[1].text.strip())
        stipend.append(internships[i].find_all('div', class_='item_body')[2].text.strip())
        
    data={'Internship':opportunity_name,'Company':company_name,'Location':location,'Duration':duration,'Stipend':stipend}
    df= pd.DataFrame(data)
    final=pd.concat([final,df], ignore_index=True)

In [83]:
copy= final.copy()

In [84]:
final=copy

In [85]:
final['Stipend']=final['Stipend'].apply(lambda x: x.replace('/',' '))

In [86]:
final

,Internship,Company,Location,Duration,Stipend
0,React Native Development,Resshu Connect Private Limited,Work From Home,3 Months,"6,000 month"
1,Fundraising,Tare Zameen Foundation,Work From Home,1 Month,"1,000 month + Incentives"
2,Software Development Engineering,Internshala,Gurgaon,6 Months,"20,000 month"
3,Business Development (Sales),UpGrad (UpGrad Education Private Limited),Bhandara,2 Months,"2,000 month + Incentives"
4,Business Development (Sales),Pepperfry,Delhi,6 Months,"15,000 month"
...,...,...,...,...,...
760,Social Media Marketing,Just Clean Global,Noida,6 Months,"15,000 month"
761,Ruby On Rails Development,Swapnil Thakur,Work From Home,6 Months,"10,000-12,000 month"
762,Marketing,HelpNow,Mumbai,2 Months,"10,000 month"
763,Search Engine Optimization (SEO),Deepak Bhardwaj,Work From Home,6 Months,"6,000 month"
764,Business Development (Sales),The Perspective Studios,Work From Home,6 Months,"7,000-10,000 month"

In [87]:
final=final.sort_values(by='Duration')

In [88]:
final.reset_index()

,index,Internship,Company,Location,Duration,Stipend
0,432,Human Resources (HR),Buddha Education Association Incorporation,Work From Home,1 Month,"12,000 month"
1,252,Content Writing,Hamari Pahchan NGO,Delhi,1 Month,"2,500-6,000 month"
2,136,Operations,Your Retail Coach (YRC),Mumbai,1 Month,"3,000 week"
3,422,YouTube Vlogging,Buddha Education Association Incorporation,Work From Home,1 Month,"9,000 month"
4,351,Business Development (Sales),Support And Care Humanity Foundation,Work From Home,1 Month,"500-2,000 week"
...,...,...,...,...,...,...
760,357,Web Development,AceBurgeon Digital,Work From Home,6 Months,"5,000 month"
761,356,Social Media Marketing,The Learn Cloud,Work From Home,6 Months,"10,000 month"
762,387,Human Resources (HR),All Friends Studio,Delhi,6 Months,"8,000-12,000 month"
763,764,Business Development (Sales),The Perspective Studios,Work From Home,6 Months,"7,000-10,000 month"
764,576,Social Work,Simmi Foundation Organization,Work From Home,6 Weeks,Unpaid

In [89]:
def numeric(string):
    ans=""
    for i in string:
        if i.isnumeric() or i=="-":
            ans+=i
    return ans

In [90]:
final['Stipend']=final['Stipend'].apply(numeric)

In [91]:
final['Internship'].value_counts()

Business Development (Sales)        60
Social Media Marketing              42
Graphic Design                      41
Content Writing                     39
Human Resources (HR)                35
                                    ..
Content And Social Media             1
Content Writing (Tech/Gaming)        1
Copywriting (TV Series & Movies)     1
Design & Branding                    1
Human Resources (Technical)          1
Name: Internship, Length: 317, dtype: int64

In [94]:
def days(Duration):
    if "Month" or "Months" in Duration.split():
        value=int(Duration.split()[0])
        ans= value*30
    else:
        value=int(Duration.split()[0])
        ans= value*7
    return ans

In [96]:
final.reset_index()

,index,Internship,Company,Location,Duration,Stipend
0,432,Human Resources (HR),Buddha Education Association Incorporation,Work From Home,30,12000
1,252,Content Writing,Hamari Pahchan NGO,Delhi,30,2500-6000
2,136,Operations,Your Retail Coach (YRC),Mumbai,30,3000
3,422,YouTube Vlogging,Buddha Education Association Incorporation,Work From Home,30,9000
4,351,Business Development (Sales),Support And Care Humanity Foundation,Work From Home,30,500-2000
...,...,...,...,...,...,...
760,357,Web Development,AceBurgeon Digital,Work From Home,180,5000
761,356,Social Media Marketing,The Learn Cloud,Work From Home,180,10000
762,387,Human Resources (HR),All Friends Studio,Delhi,180,8000-12000
763,764,Business Development (Sales),The Perspective Studios,Work From Home,180,7000-10000
764,576,Social Work,Simmi Foundation Organization,Work From Home,180,

In [97]:
final['Duration'].value_counts()

90      300
180     256
60      115
30       54
120      29
150       8
1080      2
720       1
Name: Duration, dtype: int64

In [98]:
final.to_csv('Internshala.csv', index=False)